@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

mat-card {
  width: 100%;
  background-color: rgba(42, 77, 52, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-btns {
  font-family: 'Roboto', sans-serif;
  color: #F0F8FF;
  padding: 5px 10px;
  margin: 0 10px;
}
