mat-card{
  height: 10vh;
  background-color: rgba(42, 77, 52, 0.5);
  position: relative;
}
mat-card-title{
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}


.toAllPostsBtn{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
