:host{
  display: block;
}

.detail-header {
  height: 15vh;
  background-color: rgba(42, 77, 52, 0.5);
  position: relative;
}

.detail-header mat-card-content {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.detail-header mat-card-title {
  margin-bottom: 10px;
  color: #F0F8FF;
}

.detail-header mat-card-subtitle {
  color: #F0F8FF;
  font-size: 12px;
  font-style: italic;
}

.toAllPostsBtn {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.post-details {
  width: 70%;
  margin: 0 auto;
}

.post-details mat-card-title {
  padding: 50px 30px 30px;

}

.post-details mat-card-content {
  padding: 0 30px 30px;
  white-space: pre-line;
  text-align: justify;
}

img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  position: relative;
}

app-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
