<app-header class="detail-header">
  <mat-card-title>Simple Blog</mat-card-title>
  <mat-card-subtitle>Thoughts, stories and ideas.</mat-card-subtitle>
  <p class="label">author: {{post.body.slice(2,7)}}</p>
  <p class="label">website: {{post.body.slice(8,15).split(" ").join("")}}.org</p>
  <a mat-button class="backToPosts-btn" routerLink="">all posts</a>
</app-header>

<img src="{{post.postImg}}" alt="blog picture">
<mat-card class="post-details">
  <mat-card-title>{{post.title | ucfirst}}</mat-card-title>
  <mat-card-content>{{ post.body }}</mat-card-content>
</mat-card>

<app-comment-container></app-comment-container>
