<div>
  <form (submit)="onSubmit()" [formGroup]="commentForm" class="comment-form">
    <label id="firstName_label" for="firstName">Firstname: </label>
    <input type="text" formControlName="firstName" id="firstName">

    <label id="lastName_label" for="lastName">Lastname: </label>
    <input type="text" formControlName="lastName" id="lastName">

    <label id="email_label" for="email">Email</label>
    <input type="email" id="email" formControlName="email">

    <label id="comment_label" for="comment">Comment</label>
    <textarea id="comment"></textarea>

    <div class="checkbox_container">
      <input type="checkbox" id="acceptField">
      <label id="acceptField_label" for="acceptField">I red and accept the <a routerLink="/terms&conditions">Terms &
        Conditions</a></label>
    </div>

    <button mat-raised-button color="primary" id="send_button" type="submit">Send!</button>
  </form>

</div>

